.movie-container {
  padding: 20px;
  background-color: #d84b4b41;
  
  h2 {
    color: #251119; 
  }
  #now-playing {
    margin-bottom: 40px;
    overflow-x: auto; 
    overflow-y: hidden;
    white-space: nowrap; 

    

    .movie-list {
      display: flex; 

      .movie-card {
        display: inline-block; 
        background-color: #f0f0f0; 
        margin-right: 10px; 
        transition: transform 0.3s, box-shadow 0.3s;
        width: 200px; 

        &:hover {
          transform: scale(1.05);
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
        }

        img {
          height: 300px;
          object-fit: cover;
          border-radius: 8px; 
        }

        mat-card-content {
          h3 {
            margin: 8px 0; 
            font-size: 16px; 
            text-align: center;
          }

          p {
            color: rgba(0, 0, 0, 0.7);
            text-align: justify;
          }
        }
      }
    }
  }

  #popular-movies {
    margin-bottom: 40px;

    h2 {
      margin-bottom: 20px;
      font-size: 24px;
      text-align: center; 
      color: #3f51b5; 
    }

    .movie-card {
      background-color: #e0f7fa; 
      transition: transform 0.3s, box-shadow 0.3s;

      &:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
      }

      img {
        height: 300px;
        object-fit: cover;
        border-radius: 8px; 
      }

      mat-card-content {
        h3 {
          margin: 8px 0; 
          font-size: 16px; 
          text-align: center;
        }

        p {
          color: rgba(0, 0, 0, 0.7);
          text-align: justify;
        }
      }
    }
  }

  @media (max-width: 1200px) {
    #now-playing .movie-card {
      width: 200px; 
    }
  }

  @media (max-width: 900px) {
    #now-playing .movie-card {
      width: 150px; 
    }
  }

  @media (max-width: 600px) {
    #now-playing .movie-card {
      width: 100px; 
    }
  }
}