<mat-toolbar color="primary">
  <span>mispelis.ng</span>
  <span class="spacer"></span>
  
  <ng-container *ngIf="user$ | async as user">
    <span class="welcome-text"> Bienvenido  <b>{{ userName}} </b></span>
    <button mat-button routerLink="/movies">Movies</button>
    <button mat-button (click)="logout()">Logout</button>
  </ng-container>

  <ng-container *ngIf="!(user$ | async)">
    <button mat-button routerLink="/login">Entrar</button>
    <button mat-button routerLink="/register">Registro</button>
  </ng-container>
</mat-toolbar>
<router-outlet></router-outlet>