<div class="login-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
  
      <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email">
            <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
              Email requerido
            </mat-error>
            <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
              Introduce un email válido, por favor
            </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
            <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
              La contraseña es obligatoria
            </mat-error>
          </mat-form-field>
  
          <div class="error-message" *ngIf="errorMessage">
            {{ errorMessage }}
          </div>
  
          <button mat-raised-button color="primary" 
          type="submit" 
          [disabled]="!loginForm.valid || isLoading">
    {{ isLoading ? 'Entrando...' : 'Entrar' }}
  </button>
        </form>
  
        <div class="register-link">
          <p>¿No tienes una cuenta? <a routerLink="/register">Registrate aqui</a></p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>